body{background-image: url('../images/wood.jpg');background-size: auto}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

  /* Don't forget your Retina CSS! */
  
  body {
    background-size: 450px 321px;
  }

}